h1
{
    text-shadow: 2px 3px 2px white;
    
    text-emphasis-color:white ;
}

body
{ text-emphasis-color:white ;
    background-color: gray  ;
    text-align: center;
}
p{
    text-shadow: 2px 3px 2px white;
    
    text-emphasis-color:white ;
}
option{
    text-shadow: 2px 3px 2px white;
    
    text-emphasis-color:white ;

}